USE [master]
GO
/****** Object:  Database [CarsDB]    Script Date: 3/16/2026 12:34:45 AM ******/
CREATE DATABASE [CarsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\CarsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\CarsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarsDB]
GO
/****** Object:  Table [dbo].[الحمله_الميكانيكة]    Script Date: 3/16/2026 12:34:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[الحمله_الميكانيكة](
	[المركز] [nvarchar](255) NULL,
	[رقم السيارة] [nvarchar](255) NULL,
	[مكان العمل] [nvarchar](255) NULL,
	[الموديل] [nvarchar](255) NULL,
	[نوع السيارة] [nvarchar](255) NULL,
	[الماركة] [nvarchar](255) NULL,
	[الشاسية] [nvarchar](255) NULL,
	[الموتور] [nvarchar](255) NULL,
	[الحالة  ( يعمل / لا يعمل )] [nvarchar](255) NULL,
	[مركز_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[المركز]    Script Date: 3/16/2026 12:34:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[المركز](
	[المركز] [nvarchar](255) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[الحمله_الميكانيكة] ([المركز], [رقم السيارة], [مكان العمل], [الموديل], [نوع السيارة], [الماركة], [الشاسية], [الموتور], [الحالة  ( يعمل / لا يعمل )], [مركز_id]) VALUES (N'كفر الشيخ - الديوان العام', N'8574 ل س د', N'مكتب المحافظ', N'2019.0', N'مزدوجة', N'نيسان', N'5896', N'803364', N'تعمل', 1)
INSERT [dbo].[الحمله_الميكانيكة] ([المركز], [رقم السيارة], [مكان العمل], [الموديل], [نوع السيارة], [الماركة], [الشاسية], [الموتور], [الحالة  ( يعمل / لا يعمل )], [مركز_id]) VALUES (N'كفر الشيخ - الديوان العام', N'2178ل ع د', N'مكتب المحافظ', N'2022.0', N'مزدوجة', N'نيسان', N'9703', N'983060', N'تعمل', 1)
INSERT [dbo].[الحمله_الميكانيكة] ([المركز], [رقم السيارة], [مكان العمل], [الموديل], [نوع السيارة], [الماركة], [الشاسية], [الموتور], [الحالة  ( يعمل / لا يعمل )], [مركز_id]) VALUES (N'كفر الشيخ - الديوان العام', N'1586 ل ع د', N'م/السكرتير', N'2020.0', N'ليموزين', N'نيسان', N'299', N'950820', N'تعمل', 1)
GO
SET IDENTITY_INSERT [dbo].[المركز] ON 

INSERT [dbo].[المركز] ([المركز], [id]) VALUES (N'كفر الشيخ - الديوان العام', 1)
INSERT [dbo].[المركز] ([المركز], [id]) VALUES (N'بيلا', 2)
INSERT [dbo].[المركز] ([المركز], [id]) VALUES (N'بلطيم', 3)
SET IDENTITY_INSERT [dbo].[المركز] OFF
GO
ALTER TABLE [dbo].[الحمله_الميكانيكة]  WITH CHECK ADD  CONSTRAINT [FK_الحمله_الميكانيكة_المركز] FOREIGN KEY([مركز_id])
REFERENCES [dbo].[المركز] ([id])
GO
ALTER TABLE [dbo].[الحمله_الميكانيكة] CHECK CONSTRAINT [FK_الحمله_الميكانيكة_المركز]
GO
USE [master]
GO
